{% load static %}
<div class="vLargeTextField django-quill-widget-container">
    <div id="quill-{{ id }}" class="django-quill-widget" data-config="{{ config }}" data-type="django-quill"></div>
    <input id="quill-input-{{ id }}" name="{{ name }}" type="hidden">
 
 <script>
       var quill = new Quill('.django-quill-widget-container', {
            theme: 'snow',
            modules: {
                toolbar: [
                    [{ 'header': '1' }, { 'header': '2' }, { 'font': [] }],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    [{ 'align': [] }],
                    ['bold', 'italic', 'underline'],
                    ['link']
                ]
            },
            placeholder: 'Compose your text here...'
        });
 </script>
</div>