Django==3.1
djangorestframework==3.12.4
django-cors-headers==3.7.0
django-filter==2.4.0
django-redis==4.12.1
mysqlclient==2.0.3
django-ckeditor==6.0.0
django-quill-editor==0.1.16
django-jazzmin==2.4.0
celery==5.2.7
redis==3.5.3
gunicorn